.chat{
    height: 100vh;
    width: 100vw;
    display: flex;
    grid-template-columns: 20vw 1fr 25vw;
}


.chat p, h1, h2, h3, h4, h5{
    font-family: Arial !important;
}

.chat-nav{
    width:17vw;
    background-color: #1D3767;
}

/* systle for  contact area */
.chat-contact{
    width: 13vw;
    background-color:#F9F9F9;
    padding: 2vh 0.5rem;
    border-right: #E3E3E3 1px solid;  
    overflow: scroll;
}

/* systle for  contact search bar */
.chat-contactSearch div{
   width: 80% ;
   margin: 1vh;

}


/* systle for  contact card - in contact */
.chat-contactCardActive, 

.chat-contactCardActive .content .header,
.chat-contactCardActive .content .meta{
    background-color:#1D3767 !important;
    color: white !important;
}
.chat-contactCardActive .content .description {
    font-size:smaller;
    color: white !important;
}
.chat-contactCardActive .content .date {
    float:right;
}


/* systle for  contact card - out off contact */
.chat-contactCard .ui.card:last-child{
    margin-bottom: 5px;
}
.chat-contactCard .content .date {
    float:right;
}
.chat-contactCard .content .description {
    font-size:smaller;
}


/* systle for  chat box */

.chat-box{
    width: 50vw;
}

/* systle for  chat box header bar */

.chat-boxHeader{
    display:grid;
    grid-template-columns: 20% 1fr 5%;
    align-items: center;
    background-color: snow;
    height: 10vh;
    border-bottom: #E3E3E3 1px solid;
}

.chat-boxHeader header{
    font-size:1.1rem;
    font-weight: bold;
}

.chat-boxHeader p {
    margin-bottom: 0;
    text-align: left;
}

.chat-boxHeader i {
    color: #1D3767; 
}

/* systle for main chat box  */
.chat-boxContent{
    height: 80%;
    border-top: #E3E3E3 1px solid;
    border-bottom: #E3E3E3 1px solid;
}
/* systle for main chat box input area */
.chat-boxInput{
    border: #E3E3E3 1px solid;
    display:flex;
    align-items: center;
    height: 10vh;
}
.chat-boxInput div{
    width: 85%;
    height: 40%;
    margin-left: 5%;
}
.chat-boxInput i {
    color: #1D3767; 
}

/* systle for talent detail  */
.chat-detail{
    background-color: #EDEFF2;
    width: 20vw;
}


/* this part for top right user tool componenet */
.chat-detailBar{
    display:flex;
    justify-content: space-around;
    margin-right: 1vw;
}

.chat-detailBar div{
    display:flex; 
}

/* systle for  Add Icon */
.chat-detailBar button.ui.button{
    background-color: #0DB269;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 12px;
    padding-top: 8px;
    border-radius: 30%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px, rgba(0, 0, 0, 0.28) 0px 5px 8px;

}

/* systle for  add Icon */
.chat-detailBar button.ui.button:hover{
    background-color: green;
  }

/* systle for  search Icon */
.chat-detailBar .search.icon{
    margin-top: 18px;
}

/* systle for  bell Icon */
.chat-detailBar .bell.icon{
    margin-top: 16px;
}


/* systle for  angle Icon */
.chat-detailBar .angle.icon{
    margin-top: 16px;
}




/* sytel for user info at chat page right side */

.chat-detailSpace{
    height: 15vh;
    background:#EDEFF2;
}

.chat-detail .ui.card{
    margin: 2vh 0 0 0;
}
.chat-userInfo .ui.image {
    height: 15vh;
}

.ui.card.chat-userInfo > .content > .header:not(.ui){
    margin-top: 2vh ;
}


.chat-detail .ui.card, .ui.cards > .card{
    background:#EDEFF2;
    box-shadow:0 0;
}


/* systel for user info button */

.ui.primary.button{
    border-radius: 20px;
}
.chat-detail  .ui.primary.button{
    background-color: #1D3767;
    color: white;
}

.centered.row .ui.primary.button{
    background-color: white;
    color: black;
}


.chat-detail .ui.divider:not(.vertical):not(.horizontal){
    width: 80%;
    margin: 2vh auto;
   
}

.chat-detail .ui.grid{
    margin: 0;
}


.chat-detail .ui.primary.button{
    font-size: 0.8vw;
}